*{
    margin: 0;
    padding: 0;
}

.calculation-area{
    background-color: lightgray;
}

/* expence area */
input{
    margin: 10px;
    width: 200px;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
}

/* save area */

#save-input{
    width: 100px;
    border-radius: 0;
}